@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.main-quiz-container{
    width: 100%;
    height: 742px;
    padding: 70px 0px;
    color: #fff;
    background-color: #3a3b3c;
}
.quiz-container{
    width: 30%;
    margin: 0px auto;
    text-align: center;
    padding: 7px 0px;
    /* border: 1px solid blue; */
    border-radius: 20px;
    box-shadow: 0px 0px 6px 1px rgba(153,163,163,0.75);
}
.quiz-container h1{
    width: 80%;
    /* border: 1px solid lightcoral; */
    /* text-align: center; */
    margin: 40px auto 10px;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.quiz-container hr{
    width: 80%;
    margin: 0px auto 20px;
}
.quiz-question{
    width: 80%;
    letter-spacing: 1px;
    margin: 10px auto 20px;
}
.quiz-answers{
    width: 80%;
    margin: 20px auto;
}
.quiz-answers p{
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
.quiz-container button{
    margin: 30px 0px 10px;
    padding: 5px 70px;
    letter-spacing: 1px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: lightblue;
    transition: 1s ease;
}
.quiz-container button:hover{
    outline: 1px solid blue;
}
.quiz-container .question-list{
    width: 100%;
    margin: 10px auto 50px;
}
.quiz-answers .correct{
    background: #98FF98;
    color: #3a3b3c;
    border-color: lightgreen;
}
.quiz-answers .wrong{
    background: #F98B88;
    border-color: lightcoral;
}